* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font: 14px/1.5 Arial, Helvetica, sans-serif;
}

body,
table,
input,
button,
textarea {
  font: inherit;
}
body {
  padding: 1em;
}
header,
h2 {
  padding: 0.5em 0 0.5em;
}

.flex-container {
  width: 400px;
  border: 2px solid blue;
  padding: 1em;
  display: flex;
  align-items: flex-start;
}
.flex-item {
  background-color: #eee;
  padding: 20px;
  border: 2px solid #000;
}

.custom-order .flex-item:nth-child(1) {
  order: 5;
}
.custom-order .flex-item:nth-child(2) {
  order: 3;
}
.custom-order .flex-item:nth-child(3) {
  order: 1;
}
.custom-order .flex-item:nth-child(4) {
  order: 6;
}
.custom-order .flex-item:nth-child(5) {
  order: 2;
}
.custom-order .flex-item:nth-child(6) {
  order: 4;
}
