<div class="container">
    <div class="course-message">
        <h1 id="site-title">Course Book</h1>
        <h2 id="site-mid-title">Show your opportunities!</h2>
    </div>
    {{#if courses}}
    <div class="last-course">
        {{#each courses}}
        {{>homeCard}}
        {{/each}}
    </div>

    <!-- If there are still no course posts on the database -->
    {{else}}
    <article class="not-available-course">
        <h1>No course created yet.</h1>
    </article>
    {{/if}}
</div>


