* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font: 14px/1.5 Arial, Helvetica, sans-serif;
}

body {
    font: inherit;
    padding: 2em;
    background-color: whitesmoke;
}

.site {
    padding: 2em;
    background-color: whitesmoke;
    border-radius: 0.3em;
    box-shadow: 0 0 1em 0 rgb(0, 0, 0, 0.2);

    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    gap: 1em;

    /* max-width: 1100px;
    margin: 0 auto; */
}

.timeline {
    border: 1px solid #ccc;
    border-radius: 0.3em;
    padding: 2em;

    /* todo */
    position: relative;
    overflow: hidden;
    
    
}

.timeline h2 {
    background-color: #fff;
    color: #333;
    padding: 1rem 1.5rem;
    text-align: center;
    font-size: 1.2em;
    border-radius: 0.3em;
    box-shadow: 0 0 1em 0 rgb(0, 0, 0, 0.1);
    z-index: 3;
    position: relative;

}

.timeline .event-item {
    margin-top: 2em;
    display: flex;
    align-items: flex-start;
    gap:2em;
}




.timeline .event-item::before {
    flex: 0 0 2em;
    display: block;
    width: 2em;

    aspect-ratio: 1/1;
    content: "";
    background-color: darkorange;
    border-radius: 50%;
    border: 2px solid #fff;
    box-shadow: 0 0 1em 0 rgb(0, 0, 0, 0.2);
    z-index: 2;
    
   
}



.timeline::after {
    display:block;
    content: "";
    height: 100%;
    width: 1px;
    background-color: #ccc;
    position: absolute;

    top: 2em;
    left: 3.1em;
    z-index: 1;
    
}



.timeline .event-item .wrapper {
    flex: 1 0 50%;

    background-color: #fff;
    color: #333;
    padding: 1em 1.5em;
    border-radius: 0.3em;
    box-shadow: 0 0 1em 0 rgb(0, 0, 0, 0.1);

}


.timeline .event-item:nth-child(odd)::before {
    background-color: green;
}


@media(min-width: 800px) {
    .timeline::after {
      left: 50%;
       
    }
   
    .timeline .event-item {
        max-width: 50%;
        margin-left: calc(50% - ((2em + 4px)/ 2));
    }
    

    .timeline .event-item:nth-child(odd) {
        flex-direction: row-reverse;
        margin-left: calc((2em + 4px)/2);
    }


}