
div {
    width: 300px;
    height: 150px;
}
.visible {
    overflow: visible;
    border: 1px solid red;
}
.hidden {
    overflow: hidden;
   
}
.scroll {
    overflow: scroll;
    border: 1px solid violet;
}
