.joinBtn {
    width: 10em;
    height: 5ex;
    background-color: gold;
    border: 2px solid firebrick;
    border-radius: 10px;
    font-weight: bold;
    color: black;
    cursor: pointer;
  }

  /* Use the active to set background-color blue to button. */
  .joinBtn:active {
    background-color: blue;
  }