<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>{{title}}</title>
  <link rel="stylesheet" href="/static/css/styles.css">
</head>

<body>
  <!-- In case of error, you should display div with class "errorContainer" -->
  <!-- You can choose to display the first error or all of them (error message/s in your opinion) -->
  <div>
    <div class="errorContainer">
      {{#each errors}}
      <p>{{this}}</p>
      {{/each}}
    </div>
  </div>


  <header class="header">
    <nav>
      <img src="/static/images/logo.avif" class="logo">
      <ul>

        <li><a href="/">Home</a></li>
        <li><a href="/catalog/search">Search</a></li>
        <li><a href="/catalog">All Volcanoes</a></li>

        {{#if hasUser}}

        <li><a href="/catalog/create">Create Volcano Wiki</a></li>
        <li><a href="/auth/logout">Logout</a></li>

        {{else}}
        <li><a href="/auth/register">Register</a></li>
        <li><a href="/auth/login">Login</a></li>

        {{/if}}

      </ul>
    </nav>
  </header>

  <main>
    {{{body}}}
  </main>

  <footer>
    <p>&copy JS Back-End 2024</p>
  </footer>

</body>

</html>