@import url(https://fonts.googleapis.com/css2?family=Kode+Mono:wght@400..700&display=swap);

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font: 14px/1.5 "Kode Mono", sans-serif;
}

body,
input,
button,
textarea {
    font: inherit;
}

body {
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;

    background-color: #c1bdba;
    padding: 2em;
}

form {
    max-width: 750px;
    margin: 0 auto;
    background-color: #24333c;
    color: #fff;
    padding: 4rem;
    border-radius: 0.4rem;
    box-shadow: 0 0 1em rgb(0, 0, 0, 0.2);
}

.nav {
    display: flex;
    margin-bottom: 2em;
}

.nav li {
    display: block;
    list-style: none outside;
    flex: 1 1 auto;
}

.nav a {
    display: block;
    color: inherit;
    text-decoration: none;
    padding: 1em 2em;
    text-align: center;
    background-color: #435359;
}

.nav li.current a {
    background-color: #1ab188;
}

.nav a:hover {
    cursor: pointer;
    background-color: #2d7668;
}

form h2 {
    text-align: center;
    font-weight: normal;
    font-size: 2em;
    padding-bottom: 2rem;
}

.field input {
    display: block;
    width: 100%;
    border: 1px solid #a0b3b0;
    background-color: transparent;
    padding: 0.3em 0.5em;
    line-height: 1;
    outline: none;
}

.field input:required~label::after {
    display: inline-block;
    content: "*";
    color: #1ab188;
    padding-left: 0.2em;
}

.field {
    position: relative;
    padding-bottom: 2em;
}

.field label {
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    padding: 0.3em 0.5em;
    color: #8b999e;
}

form input[type="submit"] {
    display: block;
    width: 100%;
    background-color: #1ab188;
    color: #fff;
    text-transform: uppercase;
    border: none;
    padding: 1rem 2rem;
    font-size: 1.5em;
}

.flex {
    display: flex;
    gap: 2em;
}

.flex .field {
    flex: 1 1 auto;
}