* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font: 14px/1.5 Arial, Helvetica, sans-serif;
}

body,
table,
input,
button,
textarea {
  font: inherit;
}
body {
  padding: 1em;
}
header,
h2 {
  padding: 1em 0 1em;
}

.flex-container {
  width: 400px;
  border: 2px solid blue;
  padding: 1em;
  display: flex;
  flex-wrap: wrap;
  align-items: flex-start;
}
.flex-item {
  background-color: #eee;
  padding: 18px;
  border: 2px solid #000;
}

.flex-grow-one > .flex-item {
  flex-grow: 1;
}

.flex-grow-2nd-only .flex-item:nth-child(2) {
  flex-grow: 1;
}

.flex-grow-proportional .flex-item:first-child {
  flex-grow: 1;
}
.flex-grow-proportional .flex-item:nth-child(2) {
  flex-grow: 2;
}
.flex-grow-proportional .flex-item:last-child {
  flex-grow: 3;
}
