* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font: 14px/1.5 Arial, Helvetica, sans-serif;
}

body,
table,
input,
button,
textarea {
  font: inherit;
}
body {
  padding: 1em;
}
header,
h2 {
  padding: 0.5em 0 0.5em;
}

.flex-container {
  width: 400px;
  border: 2px solid blue;
  padding: 1em;
  display: flex;
}
.flex-item {
  background-color: #eee;
  padding: 20px;
  border: 2px solid #000;
}

.flex-basis-5em .flex-item {
  flex-shrink: 0;
}

.flex-shrink-zero .flex-item {
  flex-basis: 8em;
  flex-shrink: 0;
}

.flex-grow-one {
  width: 900px;
}

.flex-grow-one .flex-item {
  flex-grow: 1;
}
