<section id="catalog">
  <h1>All Movies</h1>
  <div class="band">
    {{#if movies}}
    {{>movieCard}}
    {{else}}
    <div class="no-posts">
      <p class="no-offer">There are no posts yet...</p>
    </div>
    {{/if}}
  </div>
</section>