* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font: 14px/1.5 Arial, Helvetica, sans-serif;
}

body,
table,
input,
button,
textarea {
    font: inherit;
}
body {
    padding: 1em;

}
header, h2 {
    padding: 1em 0 1em;
}

.flex-container {
    width: 400px;
    border: 2px solid blue;
    padding: 1em;
    display: flex;
}
.flex-item {
    background-color: #eee;
    padding: 20px;
    border: 2px solid #000;
}

.flex-container:nth-of-type(2) {
    flex-wrap: wrap;
}
.flex-container:nth-of-type(3) {
    flex-wrap: wrap-reverse;
}