/* ### Page ### */

#page-content,
#page-content>main {
    background-color: hsl(var(--primary-color), calc(var(--primary-s) - 35%), calc(var(--primary-l) + 35%));
}

html {
    background-color: hsl(var(--primary-color), calc(var(--primary-s) - 30%), calc(var(--primary-l) + 15%));
}

#page-content>header,
#page-content>footer {
    background-color: hsl(var(--primary-color), calc(var(--primary-s) - 25%), calc(var(--primary-l) - 10%));
}


/* ### Content ### */

main {
    background-color: white;
}


footer {
    color: white;
}
.footer-item {
    color: black;
}


.hl footer {
    color: white;
}

/* ### Action items ### */

.main-nav a,
.main-nav a:visited {
    color: white;
}

.main-nav a:hover {
    background-color: hsl(var(--secondary-color), var(--secondary-s), var(--secondary-l));
    cursor: pointer;
}

.action {
    background-color: hsl(var(--action-color), var(--action-s), calc(var(--action-l) - 20%));
    color: white;
}

.action:hover,
.action-edit:hover
.action-del:hover {
    background-color: hsl(var(--secondary-color), var(--secondary-s), var(--secondary-l));
    cursor: pointer;
    color: white;
}

.action-edit {
    background-color: rgb(216, 131, 20);
    color: white;
}

.action-del {
    background-color: #953253;
    color: white;
}