<section id="not-permissions-section">

  <h1 class="item">Not Permissions</h1>

  <main class="item padded align-center">

    <div class="col aligned pad-med align-center">
      <label>You don't have permission to add new activity. Please contact us.</label>
    </div>

    <div class="pad-med align-center">
      <a class="action" href="/catalog">Return</a>
    </div>

  </main>

</section>