<section>
  <h1 class="item">Chalets in the Alps</h1>

  <div class="item">

    <main class="layout left med">
      <div class="col">
        <img src="../../static/icons/logo.png" class="img-med" />
      </div>

      <div class="content pad-med">
        <h2>A relaxing holiday, no matter what time of year</h2><br>
        <p>No matter whether it is spring, summer, autumn or winter, there is always something to experience and
          discover. Whether you explore the blooming nature in spring, enjoy the warm temperatures in summer, admire the
          colorful landscape in autumn or marvel at the magical winter landscape in winter, this destination has
          something to offer for every season.</p>

        <div class="align-center">
          <a class="action" href="/catalog">Browse Listings</a>
          <a class="action" href="/create">Host New Accommodation</a>
        </div>
      </div>
    </main>

  </div>

</section>