<section id="login-section" class="">

  <h1 class="item">Sign in to Chalet Villages</h1>

  <main class="item padded align-center">

    <form method="post" action="/auth/login" class="layout left large">

      {{#if error}}
      <div class="error-box">
        {{#each error.messages}}
        <p>{{this}}</p>
        {{/each}}

      </div>
      {{/if}}

      <div class="aligned pad-top">
        <label><span>Username or email address:</span>
          <input type="text" id="username" name="username"  value="{{body.username}}" /></label>
        <label><span>Password:</span>
          <input type="password" id="password" name="password" /></label>
      </div>

      <div class="cta pad-med">
        <input class="cta action" type="submit" value="Sign in">
      </div>

      <div class="p-small pad-med">
        <p>New to Chalet Villages? <a href="/auth/register"> Create an account</a></p>
      </div>

    </form>
  </main>

</section>