<section id="register-section" class="">
  <h1 class="item">Let's begin the adventure</h1>
  <main class="item padded align-center">
    <form method="post" action="/auth/register" class="layout left large">

      {{#if error}}
      <div class="error-box">
        {{#each error.messages}}
        <p>{{this}}</p>
        {{/each}}

      </div>
      {{/if}}

      <div class="aligned pad-top">
        <label><span>Enter your username:</span>
          <input {{#if error.fields.username}}class="field-error"{{/if}}type="text" id="username" name="username" value="{{body.username}}" /></label>
        <label><span>Create a password:</span>
          <input {{#if error.fields.password}}class="field-error"{{/if}}type="password" id="password" name="password" /></label>
        <label><span>Repeat a password:</span>
          <input {{#if error.fields.repass}}class="field-error"{{/if}}type="password" id="repass" name="repass" /></label>
      </div>

      <div class="cta pad-med">

        <input class="cta action" type="submit" value="Register">
      </div>
      <div class="p-small pad-med">
        <p>Already have an account? <a href="/auth/login"> Sign in</a></p>
      </div>
    </form>

  </main>

</section>