<section id="not-found-section" class="">

  <h1 class="item">Accommodation Not Found</h1>

  <main class="item padded align-center">

    <div class="col aligned pad-med align-center">
      <label>The accommodation with ID<strong>{{roomId}}</strong>cannot be
        found.</label>
    </div>
    
    <div class="pad-med align-center">
      <a class="action" href="/catalog" class="h">Return</a>
    </div>

  </main>

</section>