* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

*, ::after, ::before {
    box-sizing: inherit;
}
html {
    box-sizing: border-box;
    font: 14px/1.5 Arial, Helvetica, sans-serif;
}
